/* {
  --color-1: #222222;   (HOVER HTML, NAV, FOOTER)
  --color-2: #333333;   (ESTRUCTURA HTML, NAV, FOOTER)
  --color-3: #4A7C17;   (APARTADO EQUIPO)
  --color-4: #0DB50D;   (HOVER DE TEXTO)
  --color-5: #FFFFFF;   (TEXTO GENERAL)
} */
