body {
   

    background-image: url(../img/f_biomas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(67, 67, 67);
    

}


@font-face {
    font-family: "Lminecraft";
    src: url("../font/mac_s_minecraft/mac\'s\ Extended\ Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Contenedor principal en fila */
.contenedor-principal {
    
    top: 50px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 10px;
    
}

/* Ocultar radio buttons */
.contenedor-principal input[type="radio"] {
    display: none;
}

#biomas {

    font-family: 'Lminecraft', sans-serif;
    width: 250px;
    margin-top: 60px;
    margin-left: 42%;

    

}

/* ========== INFO1 (IZQUIERDA) ========== */
.info1 {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: #000;
    border-top: 20px solid rgb(28, 28, 28);
    border-right: 20px solid rgb(67, 67, 67);
    border-left: 20px solid rgb(67, 67, 67);
    border-bottom: 20px solid rgb(28, 28, 28);
    color: white;
    font-family: 'Lminecraft', sans-serif;
    font-size: 15px;
}

.info1:hover {
    background-color: rgb(67, 67, 67);
    border-right: 20px solid #000;
    border-left: 20px solid #000;
}

.info1-slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.info1-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info1-slide h1 {
    color: rgb(0, 166, 0);
    margin-bottom: 0;
}

.wiki {
    border-top: 10px solid rgb(28, 28, 28);
    border-right: 10px solid rgb(67, 67, 67);
    border-left: 10px solid rgb(67, 67, 67);
    border-bottom: 10px solid rgb(28, 28, 28);
    width: 90px;
    margin: 0 auto;
}

.wiki:hover {
    border-top: 10px solid rgb(28, 28, 28);
    border-right: 10px solid #000;
    border-left: 10px solid #000;
    border-bottom: 10px solid rgb(28, 28, 28);
}

/* ========== SLIDER CENTRAL ========== */
.slider {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: #000;
    border-top: 20px solid rgb(28, 28, 28);
    border-right: 20px solid rgb(67, 67, 67);
    border-left: 20px solid rgb(67, 67, 67);
    border-bottom: 20px solid rgb(28, 28, 28);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
}

#timeline {

    margin-top: 600px;

}

/* Flechas */
.controls label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 10;
    background: rgba(0,0,0,0.3);
    padding: 10px 15px;
    border-radius: 50%;
    user-select: none;
    display: none;
}

.controls .prev { left: 10px; }
.controls .next { right: 10px; }

.controls label:hover {
    background: rgba(0,0,0,0.6);
}

/* ========== INFO2 (DERECHA) ========== */
.info2 {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: #000;
    border-top: 20px solid rgb(28, 28, 28);
    border-right: 20px solid rgb(67, 67, 67);
    border-left: 20px solid rgb(67, 67, 67);
    border-bottom: 20px solid rgb(28, 28, 28);
}

.info2:hover {
    background-color: rgb(67, 67, 67);
    border-right: 20px solid #000;
    border-left: 20px solid #000;
}

/* Contenedor de slides */
.info2-slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Clase base para los slides */
.info2-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0; /* Evita que se encojan */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}

/* Define el fondo para cada slide específico */
.info2-slide1 { /* Asegúrate de que en el HTML uses esta clase */
    background-image: url(../img/nieve.gif); /* Fondo específico para slide 1 */
}

.info2-slide2 {
    background-image: url(../img/panda.gif); /* Ruta a la imagen de selva */
}

.info2-slide3 {
    background-image: url(../img/disecado.gif); /* Ruta a la imagen de desierto */
}

.info2-slide4 {
    background-image: url(../img/oveja.gif); /* Ruta a la imagen de cálido */
}

.info2-slide5 {
    background-image: url(../img/sepia.gif); /* Ruta a la imagen de océano */
}

.info2-slide6 {
    background-image: url(../img/champi.png); /* Ruta a la imagen de champiñón */
}

.info2-slide7 {
    background-image: url(../img/rana.gif); /* Ruta a la imagen de sabana */
}

.info2-slide8 {
    background-image: url(../img/warden.gif); /* Ruta a la imagen de oscuro */
}

.info2-slide9 {
    background-image: url(../img/blaze.gif); /* Ruta a la imagen de nether */
}

.info2-slide10 {
    background-image: url(../img/dragon.gif); /* Ruta a la imagen de end */
}

/* Opcional: si quieres mostrar también una imagen encima del fondo */
.info2-slides img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
}

/* ========== POSICIONES SLIDES CENTRAL ========== */
#slide1:checked ~ .slider .slides { transform: translateX(0); }
#slide2:checked ~ .slider .slides { transform: translateX(-100%); }
#slide3:checked ~ .slider .slides { transform: translateX(-200%); }
#slide4:checked ~ .slider .slides { transform: translateX(-300%); }
#slide5:checked ~ .slider .slides { transform: translateX(-400%); }
#slide6:checked ~ .slider .slides { transform: translateX(-500%); }
#slide7:checked ~ .slider .slides { transform: translateX(-600%); }
#slide8:checked ~ .slider .slides { transform: translateX(-700%); }
#slide9:checked ~ .slider .slides { transform: translateX(-800%); }
#slide10:checked ~ .slider .slides { transform: translateX(-900%); }

/* ========== POSICIONES INFO1 ========== */
#slide1:checked ~ .info1 .info1-slides { transform: translateX(0); }
#slide2:checked ~ .info1 .info1-slides { transform: translateX(-100%); }
#slide3:checked ~ .info1 .info1-slides { transform: translateX(-200%); }
#slide4:checked ~ .info1 .info1-slides { transform: translateX(-300%); }
#slide5:checked ~ .info1 .info1-slides { transform: translateX(-400%); }
#slide6:checked ~ .info1 .info1-slides { transform: translateX(-500%); }
#slide7:checked ~ .info1 .info1-slides { transform: translateX(-600%); }
#slide8:checked ~ .info1 .info1-slides { transform: translateX(-700%); }
#slide9:checked ~ .info1 .info1-slides { transform: translateX(-800%); }
#slide10:checked ~ .info1 .info1-slides { transform: translateX(-900%); }

/* ========== POSICIONES INFO2 ========== */
#slide1:checked ~ .info2 .info2-slides { transform: translateX(0); }
#slide2:checked ~ .info2 .info2-slides { transform: translateX(-100%); }
#slide3:checked ~ .info2 .info2-slides { transform: translateX(-200%); }
#slide4:checked ~ .info2 .info2-slides { transform: translateX(-300%); }
#slide5:checked ~ .info2 .info2-slides { transform: translateX(-400%); }
#slide6:checked ~ .info2 .info2-slides { transform: translateX(-500%); }
#slide7:checked ~ .info2 .info2-slides { transform: translateX(-600%); }
#slide8:checked ~ .info2 .info2-slides { transform: translateX(-700%); }
#slide9:checked ~ .info2 .info2-slides { transform: translateX(-800%); }
#slide10:checked ~ .info2 .info2-slides { transform: translateX(-900%); }

/* ========== MOSTRAR FLECHAS PARA CADA SLIDE ========== */
#slide1:checked ~ .slider .controls label[for="slide10"].prev,
#slide1:checked ~ .slider .controls label[for="slide2"].next { display: block; }

#slide2:checked ~ .slider .controls label[for="slide1"].prev,
#slide2:checked ~ .slider .controls label[for="slide3"].next { display: block; }

#slide3:checked ~ .slider .controls label[for="slide2"].prev,
#slide3:checked ~ .slider .controls label[for="slide4"].next { display: block; }

#slide4:checked ~ .slider .controls label[for="slide3"].prev,
#slide4:checked ~ .slider .controls label[for="slide5"].next { display: block; }

#slide5:checked ~ .slider .controls label[for="slide4"].prev,
#slide5:checked ~ .slider .controls label[for="slide6"].next { display: block; }

#slide6:checked ~ .slider .controls label[for="slide5"].prev,
#slide6:checked ~ .slider .controls label[for="slide7"].next { display: block; }

#slide7:checked ~ .slider .controls label[for="slide6"].prev,
#slide7:checked ~ .slider .controls label[for="slide8"].next { display: block; }

#slide8:checked ~ .slider .controls label[for="slide7"].prev,
#slide8:checked ~ .slider .controls label[for="slide9"].next { display: block; }

#slide9:checked ~ .slider .controls label[for="slide8"].prev,
#slide9:checked ~ .slider .controls label[for="slide10"].next { display: block; }

#slide10:checked ~ .slider .controls label[for="slide9"].prev,
#slide10:checked ~ .slider .controls label[for="slide1"].next { display: block; }



#fondo_biomas {

    position: absolute;
    border: 1px solid black;
    width: 45%;
    height: 390px;
    background-image: url(../img/BIOMAS.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 27%;
    top: 818px;
    

    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: #000;
    border-top: 20px solid rgb(28, 28, 28);
    border-right: 20px solid rgb(67, 67, 67);
    border-left: 20px solid rgb(67, 67, 67);
    border-bottom: 20px solid rgb(28, 28, 28);


}