/* ==========================================================
   CONFIGURACIÓN GLOBAL
   ========================================================== */

* {
  margin: 0;
  padding: 0;
  cursor: url('../img/cursor.cur'), auto;
  font-family: 'Lminecraft', sans-serif;
  color: white;
}

/* ==========================================================
   CONTENEDOR PRINCIPAL
   ========================================================== */

#wrapper {
  align-items: center;
  position: relative;
}


/* ==========================================================
   NAVEGACIÓN FIJA (HEADER)
   ========================================================== */

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333;
  padding: 0 10px;
  width: 100%;
}
nav div {
  position: relative;
}
nav ul{
  display: block;
  list-style: none;
  text-align: center;
}
nav li{
  display: inline-block;
  width: 6%;
  height: 70px;
  line-height: 70px;
}
nav a {
  font-weight: 600;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease;
  height: 70px;
  line-height: 70px;
}
nav a:hover {
  color: #0db50d;
  background-color: #222;
}

#cabeza_arriba {
  width: 3%;
  position: fixed;
  top: 10px;
  right: 10px;
}
#cabeza_arriba2 {
  width: 3%;
  position: fixed;
  top: 10px;
  left: 10px;
}

/* ==========================================================
   Footer (HEADER)
   ========================================================== */
footer {
  position: absolute;
  bottom: 0;
  background-color: #333;
  padding: 0 10px;
  width: 100%;
}
footer ul {
  display: block;
  list-style: none;
  text-align: center;
  width: 30%;
  display: inline-block;
}
footer div {
  box-sizing: content-box;
  margin: 5px 0;
  padding: 5px;
  width: 30%;
  display: inline-block;
}
footer p {
  margin: 0px;
  font-size: smaller;
  font-weight: 400;
}
footer li {
  display: inline;
  height: 50px;
  line-height: 50px;
}
footer a {
  text-decoration: underline;
  font-weight: 400;
  font-size: small;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #0db50d;
}

.redesFotter {
  display: inline-block;
  padding: 10px;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 30%;
  transition: background-color 300ms ease-in-out, transform 400ms ease ;
  background-image: none;
  transform: scale(1.0);
}
.redesFotter[alt="youtube"] {
  padding: 0;
}
.redesFotter[alt="facebook"]:hover {
  background-color: rgb(32, 107, 178);
  transform: scale(1.1);
}
.redesFotter[alt="instagram"]:hover {
  background-color: rgb(178, 32, 134);
  transform: scale(1.1);
}
.redesFotter[alt="ticktock"]:hover {
  background-color: rgb(36, 199, 98);
  transform: scale(1.1);
}
.redesFotter[alt="x"]:hover {
  background-color: lightseagreen;
  transform: scale(1.1);
}
.redesFotter[alt="youtube"]:hover {
  background-color: rgb(182, 5, 5);
  transform: scale(1.1);
} 
#redes {
  text-align: right;
}
#wrapper {
  min-height: 100vh;
}

@font-face {
  font-family: "Lminecraft";
  src: url("../font/mac_s_minecraft/mac\'s\ Extended\ Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

