* {
    padding: 0;
    margin: 0;
}

#cubierta {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.493);
    opacity: 0;
    transition: opacity 200ms ease;
    z-index: 1;
}

input[type="checkbox"]:checked ~ #cubierta {
    opacity: 1;
    display: block;
}
input[type="checkbox"] {
    z-index: 2;
}
label {
    color: black;
}

#objeto {
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgb(69, 92, 70);
    border-radius: 50px;
    z-index: 4;
}
img {
    display: block;
    height: 400px;
    width: 200px;
    float: right;
}
#wrapper {
    min-height: 100vh;
    min-width: 100%;
}