* {
    padding: 0;
    margin: 0;
}
.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    background-color: #c6c6c6;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin: 20px;
    border: 4px solid #555;
    box-shadow:inset -4px -4px 0 #373737,inset 4px 4px 0 #FCFCFC;
}
legend {
    transform: translateY(-16px);
    padding: 4px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #c6c6c6;
    border: 4px solid #555;
    border-bottom: 0px;
    box-shadow:inset -4px  0px 0 #373737,inset 4px 4px 0 #FCFCFC, 0px 8px 0 #c6c6c6;
}
.ui p {
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 14px;
}
.fila {
    margin: 0;
    font-size: 0; 
}
.slot{
    position:relative;
    width:32px;
    height:32px;
    background:#8B8B8B;
    box-shadow:inset -2px -2px 0 #FCFCFC,inset 2px 2px 0 #373737;
    margin: 1px;
    display:inline-block;

}
.item {
    width: 25px;
    height: 25px;
    margin-left: 3px;
    margin-top: 3px;
    background-size: cover;
}


#pico {
    background-image: url(../img/objetos/herramientas/Diamond_Pickaxe_JE3_BE3.webp);
}
#hacha {
    background-image: url(../img/objetos/herramientas/Diamond_Axe_JE3_BE3.webp);
}
#azada {
    background-image: url(../img/objetos/herramientas/Diamond_Hoe_JE3_BE3.webp);
}
#pala {
    background-image: url(../img/objetos/herramientas/Diamond_Shovel_JE3_BE3.png);
}
#canapescar {
    background-image: url(../img/objetos/herramientas/Fishing_Rod_JE2_BE2.png);
}
#canazanahoria {
    background-image: url(../img/objetos/herramientas/Carrot_on_a_Stick_JE2_BE2.png);
}
#brujula {
    background-image: url(../img/objetos/herramientas/Compass_JE3_BE3.gif);
}
#mechero {
    background-image: url(../img/objetos/herramientas/Flint_and_Steel_JE4_BE2.webp);
}
#reloj {
    background-image: url(../img/objetos/herramientas/Clock_JE3_BE3.webp);
}
#casco {
    background-image: url(../img/objetos/armasArmaduras/casco.webp);
}
#tunica {
    background-image: url(../img/objetos/armasArmaduras/tunica.png);
}
#pantalones {
    background-image: url(../img/objetos/armasArmaduras/pantalones.png);
}
#botas {
    background-image: url(../img/objetos/armasArmaduras/botas.png);
}
#espada {
    background-image: url(../img/objetos/armasArmaduras/Diamond_Sword.png);
}
#arco {
    background-image: url(../img/objetos/armasArmaduras/Bow.webp);
}
#flechas {
    background-image: url(../img/objetos/armasArmaduras/Arrow.webp);
}
#escudo {
    background-image: url(../img/objetos/armasArmaduras/Shield.png);
    background-repeat: no-repeat;
    background-size: 55%;
    margin-left: 8px;
}
#manzana {
    background-image: url(../img/objetos/armasArmaduras/Enchanted_Golden_Apple.webp);
}
#madera {
    background-image: url(../img/objetos/bloques/Wooden_Planks.webp);
}
#piedra {
    background-image: url(../img/objetos/bloques/Stone.webp);
}
#carbon {
    background-image: url(../img/objetos/minerales/Coal_JE4_BE3.webp);
}
#cobre {
    background-image: url(../img/objetos/minerales/Copper_Ingot_JE2_BE1.png);
}
#hierro {
    background-image: url(../img/objetos/minerales/Iron_Ingot_JE3_BE2.png);
}
#oro {
    background-image: url(../img/objetos/minerales/Gold_Ingot_JE4_BE2.webp);
}
#emeralde {
    background-image: url(../img/objetos/minerales/Emerald_JE3_BE3.webp);
}
#diamante {
    background-image: url(../img/objetos/minerales/Diamond_JE3_BE3.webp);
}
#netherite {
    background-image: url(../img/objetos/minerales/Lingote_de_netherita.webp);
}

#mesacraft {
    background-image: url(../img/objetos/bloques/Crafting_Table.webp);
}
#horno {
    background-image: url(../img/objetos/bloques/Furnace.webp);
}
#tronco {
    background-image: url(../img/objetos/bloques/Wood.webp);
}
#ladrillopiedra {
    background-image: url(../img/objetos/bloques/Stone_Brick.webp);
}
#ladrillos {
    background-image: url(../img/objetos/bloques/Brick.webp);
}
#cristal {
    background-image: url(../img/objetos/bloques/Glass.webp);
}
#paredpiedra {
    background-image: url(../img/objetos/bloques/Cobblestone_Wall.webp);
}
#boton {
    background-image: url(../img/objetos/bloques/Button.webp);
}
#lever {
    background-image: url(../img/objetos/bloques/Lever.gif);
}
#escalerasmadera {
    background-image: url(../img/objetos/bloques/Lever.gif);
}
#puertas {
    background-image: url(../img/objetos/bloques/Wooden_Door.webp);
}
#signo {
    background-image: url(../img/objetos/bloques/Sign.webp);
}
#fencegate {
    background-image: url(../img/objetos/bloques/Fence_Gate.webp);
}
#fence {
    background-image: url(../img/objetos/bloques/Fence.webp);
}
#ladder {
    background-image: url(../img/objetos/bloques/Ladder.webp);
}
#trapdoor {
    background-image: url(../img/objetos/bloques/Trapdoor.webp);
}
#antorcha {
    background-image: url(../img/objetos/bloques/Torch.webp);
}
#cama {
    background-image: url(../img/objetos/bloques/Bed.webp);
}

#mushroomStew {
    background-image: url(../img/objetos/comida/Mushroom_Stew.png);
}
#beetrootStew {
    background-image: url(../img/objetos/comida/Beetroot_Soup.webp);
}
#rabbitStew {
    background-image: url(../img/objetos/comida/Rabbit_Stew.png);
}
#pumpkinPie {
    background-image: url(../img/objetos/comida/Pumpkin_Pie.webp);
}
#cookie {
    background-image: url(../img/objetos/comida/Cookie.png);
}
#bread {
    background-image: url(../img/objetos/comida/Bread.webp);
}
#cake {
    background-image: url(../img/objetos/comida/Cake_1.png);
}
#goldenCarrot {
    background-image: url(../img/objetos/comida/Golden_Carrot.webp);
}
#chorusFruit {
    background-image: url(../img/objetos/comida/Chorus_Fruit.png);
}
