/* ======= ESTILOS GENERALES ======= */
body {
  font-family: 'Courier New', monospace;
  background-image: url(../vid/video2.mp4);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 50px;

}

/* --- Fuente de texto personalizada --- */
@font-face {
  font-family: "Lminecraft";
  src: url("../font/mac_s_minecraft/mac\'s\ Extended\ Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#video_fondo {
  position: fixed;
  /* o absolute si prefieres que se mueva con la página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ajusta el video al tamaño sin deformar */
  z-index: -1;
  /* lo pone detrás del contenido */
}


header {
  background-color: #222;
  padding: 20px;
  border-bottom: 4px solid #222;
  text-shadow: 2px 2px #000;
}

h1 {
  font-size: 2.5em;
  color: #9cff8d;
  margin: 0;
}

/* ======= CONTENEDOR CENTRAL ======= */
.main-container {
  background-color: #000000;
  border: 4px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 20px #000000;
  width: 80%;
  max-width: 900px;
  margin: 200px auto;
  padding: 30px;
  border-top: 5px solid rgb(0, 0, 0);
  border-right: 5px solid rgb(67, 67, 67);
  border-bottom: 5px solid rgb(28, 28, 28);
}

/* ======= CONTENEDOR CENTRAL ======= */
.main-container:hover {
  background-color: #222;
  border: 4px solid #222;
  border-radius: 20px;
  box-shadow: 0 0 20px #222;
  width: 80%;
  max-width: 900px;
  margin: 200px auto;
  padding: 30px;
  border-top: 5px solid rgb(67, 67, 67);
  border-right: 5px solid rgb(67, 67, 67);
  border-bottom: 5px solid rgb(28, 28, 28);
}

.main-container p {
  font-size: 1.2em;
  color: #caffca;
  text-shadow: 1px 1px #000;
  font-family: 'Lminecraft', sans-serif;

}

/* ======= BOTÓN MINECRAFT ======= */
.boton {
  display: inline-block;
  background-color: #0f800f;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #0f800f;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-family: 'Lminecraft', sans-serif;

}

.boton:hover {
  background-color: #2e8b57;
  box-shadow: 0 0 25px #00ff7f;
  transform: scale(1.05);
}