* {
  padding: 0;
  margin: 0;
}
main {
  padding: 5%;
  text-align: left;
  background-image: url(../img/fondos/fondo_efectos.jpg);
  background-size: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Lminecraft2';
  padding: 130px;
  
}

/* -------------------------------------------------------------------------------------------- */
/*      PARTE ARRIBA(TITULO, BARRA DE VIDA, ICONO DE CURACION, AUDIO, SUBTITULO, POCIÓN)       */
/* -------------------------------------------------------------------------------------------- */
#intro {
  display: flex;
  flex-direction: column;
}
#partearribapocion {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}
/* ----------------- */
/* ICONO DE CURACION */
/* ----------------- */
#side {
  flex: 0 0 20%;
  animation: curacion-icono 5s 2.5s forwards;
}
/* ----------------- */
/*       TITULO      */
/* ----------------- */
#megatitulo {
  align-content: center;
  text-align: center;
}


#megatitulo h1 {
  flex: 0 0 80%;
  text-align: center;
  color: transparent;
  text-transform: uppercase;
  font-size: 4rem;
  background-image: url(../img/fondos/fondo_mader.jpg);
  background-clip: text;
  background-size: 10%;
}

/* -------------------------- */
/*       BARRA DE SALUD       */
/* -------------------------- */

#barrasalud {
  flex: 0 0 20%;
  background-image: url(../img/mobs_andrii/intro_barra_de_salud.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  animation: curacion 10s 4s forwards;
}

/* -------------------------- */
/*          POCIÓN            */
/* -------------------------- */

#parteabajopocion {
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#animacionpocion {
  width: 16%;
  height: 100%;
  background-image: url(../img/potion_animacion.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: pocionanimacion 3s 1s ease-in-out forwards;
}

/* -------------------------- */
/*       SUBTITULO            */
/* -------------------------- */

#parteinfo p {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 1.8rem;
  color: #b6955e;
  text-shadow: black 0px 2px;
}

/* -------------------------------------- */
/*       TABLAS (TODAS EN COLUMNAS)       */
/* -------------------------------------- */

#tablasencolumnas {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
caption {
  font-style: italic;
  font-size: 2rem;
}
#tablaexplicacion {
  overflow-x: auto;
}
#tablaefectos {
  overflow-x: auto;
}

/* --------------------------------------------- */
/*       CAMBIA COLOR DESPUES DE CADA FILA       */
/* --------------------------------------------- */

tr:nth-child(even) {
  background-color: #949494;
}
tr:nth-child(odd) {
  background-color: #777;
}

/* -------------------------- */
/*        TABLAS              */
/* -------------------------- */

main table, th, td {
  border: 6px solid #555;
  box-shadow:inset -5px -5px 0 #373737,inset 5px 5px 0 #d3d3d3;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
th:hover, td:hover {
  background-image: url(../img/fondos/fondo_efectos_animado.gif);
  background-size: 94%;
}
th {
  text-decoration:underline;
}
td img {
  border-radius: 7px;
}
td#partebruja img {
  float: right;
  width: 15%;
}
#inforefectos {
  background-color: #777;
}
#inforefectos:hover {
  background-color: #949494;
}
main .tableadicional {
  text-align: center !important;
}

/*--------------------------------------*/
/*          FUENTE PARA TITULO          */
/*--------------------------------------*/
@font-face {
  font-family: "Lminecraft2";
  src: url("../font/mac_s_minecraft/mac\'s\ Extended\ Minecraft\ Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

/*--------------------------------------*/
/*          ANIMACION DE POCION         */
/*--------------------------------------*/
@keyframes pocionanimacion {
  0% {
    transform: translateY(20px);
  }
  5% {
    transform: translateY(-20px);
  }
  10% {
    transform: translateY(20px);
  }
  15% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(-20px);
  }
  30% {
    transform: translateY(20px);
  }
  35% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(20px);
  }
  45% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  55% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(20px);
  }
  65% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(20px);
  }
  85% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(20px);
  }
  91% {
    transform: scale(1.4) translateY(20px) rotateY(180deg);
    background-image: url(../img/potion_animacion.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  100% {
    transform: scale(1) rotateY(360deg);
    background-image: url(../img/potion_vacio_animacion.png), url(../img/fondos/fondo_efectos_animado.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*--------------------------------------*/
/*          ANIMACION DE CURACION       */
/*--------------------------------------*/

@keyframes curacion {
  0% {
    background-image: url(../img/mobs_andrii/intro_barra_de_salud_curacion_cortado.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  95% {
     background-image: url(../img/mobs_andrii/intro_barra_de_salud_curacion_cortado.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  100% {
    background-image: url(../img/mobs_andrii/barra_de_vida.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
}


/*--------------------------------------*/
/*          APARECE ICONO EN SIDE       */
/*--------------------------------------*/


@keyframes curacion-icono {
  0% {
    flex: 0 0 20%;
  }
  95% {
    flex: 0 0 20%;
  }
  100% {
    flex: 0 0 20%;
    background-image: url(../img/mobs_andrii/curacion_icono.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80%;
  }
}